@using Doar.Session

@if (UsuarioSession.Usuario != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Olá "+ UsuarioSession.Usuario.Nome + "!", "Edit/" + UsuarioSession.Usuario.UsuarioId, "Usuario", routeValues: null, htmlAttributes: new { title = "Editar" })
        </li>
        <li>
             <a href="~/Usuario/LogOff">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastre-se", "Register", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Entrar", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
